**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!dist/extension.cjs
!dist/THIRD_PARTY_LICENSES.txt
!media/wechat-ahp.svg
!media/icon.png
!media/screenshot.png
!media/chat-vscode.png
!media/chat-wechat.png
